
# 1. Configure a custom error document response for HTTP response status of 404 ("Not Found").

ErrorDocument 404 /~lli/error/404.html

# 2. Set expiration headers so that CSS, JavaScript, and image (JPEG, GIF, PNG) files are cached for 1 day.

## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive	On
ExpiresByType	image/jpg	"access plus 1 day"
ExpiresByType 	image/gif	"access plus 1 day" 
ExpiresByType	image/png	"access plus 1 day" 
ExpiresByType 	text/css 	"access plus 1 day" 
ExpiresByType	text/x-javascript	"access plus 1 day" 
</IfModule>
## EXPIRES CACHING ##

# 3 Set an output filter so that XHTML, HTML, CSS, and JavaScript files are compressed before they are sent to the web browser.

AddOutputFilterByType DEFLATE text/html text/css text/javascript application/javascript
AddOutputFilterByType DEFLATE application/xhtml+xml 

# 4 Create a redirect or rewrite rule so that the URL (where your username is substituted in place of jharvard):
# http://cs12students.dce.harvard.edu/~jharvard/myfavoritebook
# redirects (HTTP 301 or 302) to a page that contains information about a favorite book of yours. The page that is redirected to should be an external URL (e.g. from WorldCat, Amazon, B&N, publisher site, etc.). Use "Redirect" unless you want to take on the more difficult (but more flexible) "Rewrite" configuration.

Redirect 301 /~lli/myfavoritebook  http://www.amazon.com/gp/product/1499679106/
